<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>Title</title>
  <link href="webjars/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="/webjars/jquery/3.4.0/jquery.min.js" type="text/javascript"></script>
  <script src="/webjars/vue/2.6.10/dist/vue.min.js" type="text/javascript"></script>
</head>
<style>
  .login{
    background-color: white;
    padding-left: 60px;
    height: 300px;
    padding-top: 80px;
    opacity:0.60;
    background-image: url("../img/portfolio-4.jpg");
  }
</style>
<script type="text/javascript">
  $(function () {
    $('#btn').click(function () {
        var form = $('#form-login').serialize();
      $.ajax({
        type: "POST",
        url: "http://localhost:9999/toLogin",
        data: form,
        processData: false,
        success: function (res) {
          if (res.code==200){
            location.href='http://localhost:10020/index';
          }else{
              alert(res.data)
          }
        }
      });
    });
  })
</script>
  <body style="overflow-x: hidden;" background="../img/bg-masthead.jpg">
      <div class="row">
         <div class="col-4">

         </div>
         <div class="col-4">
           <div style="height: 180px;"></div>
           <div class="text-center text-white">
             <b style="font-size: 60px;">人力资源管理系统</b>
           </div>
           <div class="login">
             <form id="form-login" class="pr-4">
               <div class="form-group row">
                 <label for="inputEmail3" class="col-sm-2 col-form-label pr-2">UserName</label>
                 <div class="col-sm-10">
                   <input type="text" name="uName" class="form-control" id="inputEmail3" placeholder="userName">
                 </div>
               </div>
               <div class="form-group row">
                 <label for="inputPassword3" class="col-sm-2 col-form-label pr2">PassWord</label>
                 <div class="col-sm-10">
                   <input type="password" name="uPassword" class="form-control" id="inputPassword3" placeholder="passWord">
                 </div>
               </div>
               <div class="form-group row">
                 <div class="col-sm-10 text-center">
                   <button type="button" id="btn" class="btn btn-primary">Sign in</button>
                 </div>
               </div>
             </form>
            </div>
          </div>
         <div class="col-4">

         </div>
      </div>
  </body>
</html>