<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java158.hrclient.mapper.EngageAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.java158.hr.entity.EngageAnswer" >
    <id column="ans_id" property="ansId" jdbcType="SMALLINT" />
    <result column="answer_number" property="answerNumber" jdbcType="VARCHAR" />
    <result column="exam_number" property="examNumber" jdbcType="VARCHAR" />
    <result column="resume_id" property="resumeId" jdbcType="SMALLINT" />
    <result column="interview_id" property="interviewId" jdbcType="SMALLINT" />
    <result column="human_name" property="humanName" jdbcType="VARCHAR" />
    <result column="human_idcard" property="humanIdcard" jdbcType="VARCHAR" />
    <result column="major_kind_id" property="majorKindId" jdbcType="CHAR" />
    <result column="major_kind_name" property="majorKindName" jdbcType="CHAR" />
    <result column="major_id" property="majorId" jdbcType="CHAR" />
    <result column="major_name" property="majorName" jdbcType="CHAR" />
    <result column="test_time" property="testTime" jdbcType="TIMESTAMP" />
    <result column="use_time" property="useTime" jdbcType="VARCHAR" />
    <result column="total_point" property="totalPoint" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ans_id, answer_number, exam_number, resume_id, interview_id, human_name, human_idcard, 
    major_kind_id, major_kind_name, major_id, major_name, test_time, use_time, total_point
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java158.hr.entity.EngageAnswerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from engage_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from engage_answer
    where ans_id = #{ansId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from engage_answer
    where ans_id = #{ansId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.java158.hr.entity.EngageAnswerExample" >
    delete from engage_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java158.hr.entity.EngageAnswer" >
    insert into engage_answer (ans_id, answer_number, exam_number, 
      resume_id, interview_id, human_name, 
      human_idcard, major_kind_id, major_kind_name, 
      major_id, major_name, test_time, 
      use_time, total_point)
    values (#{ansId,jdbcType=SMALLINT}, #{answerNumber,jdbcType=VARCHAR}, #{examNumber,jdbcType=VARCHAR}, 
      #{resumeId,jdbcType=SMALLINT}, #{interviewId,jdbcType=SMALLINT}, #{humanName,jdbcType=VARCHAR}, 
      #{humanIdcard,jdbcType=VARCHAR}, #{majorKindId,jdbcType=CHAR}, #{majorKindName,jdbcType=CHAR}, 
      #{majorId,jdbcType=CHAR}, #{majorName,jdbcType=CHAR}, #{testTime,jdbcType=TIMESTAMP}, 
      #{useTime,jdbcType=VARCHAR}, #{totalPoint,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.java158.hr.entity.EngageAnswer" >
    insert into engage_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ansId != null" >
        ans_id,
      </if>
      <if test="answerNumber != null" >
        answer_number,
      </if>
      <if test="examNumber != null" >
        exam_number,
      </if>
      <if test="resumeId != null" >
        resume_id,
      </if>
      <if test="interviewId != null" >
        interview_id,
      </if>
      <if test="humanName != null" >
        human_name,
      </if>
      <if test="humanIdcard != null" >
        human_idcard,
      </if>
      <if test="majorKindId != null" >
        major_kind_id,
      </if>
      <if test="majorKindName != null" >
        major_kind_name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="testTime != null" >
        test_time,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="totalPoint != null" >
        total_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ansId != null" >
        #{ansId,jdbcType=SMALLINT},
      </if>
      <if test="answerNumber != null" >
        #{answerNumber,jdbcType=VARCHAR},
      </if>
      <if test="examNumber != null" >
        #{examNumber,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=SMALLINT},
      </if>
      <if test="interviewId != null" >
        #{interviewId,jdbcType=SMALLINT},
      </if>
      <if test="humanName != null" >
        #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="humanIdcard != null" >
        #{humanIdcard,jdbcType=VARCHAR},
      </if>
      <if test="majorKindId != null" >
        #{majorKindId,jdbcType=CHAR},
      </if>
      <if test="majorKindName != null" >
        #{majorKindName,jdbcType=CHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=CHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=CHAR},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null" >
        #{totalPoint,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java158.hr.entity.EngageAnswerExample" resultType="java.lang.Integer" >
    select count(*) from engage_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update engage_answer
    <set >
      <if test="record.ansId != null" >
        ans_id = #{record.ansId,jdbcType=SMALLINT},
      </if>
      <if test="record.answerNumber != null" >
        answer_number = #{record.answerNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.examNumber != null" >
        exam_number = #{record.examNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.resumeId != null" >
        resume_id = #{record.resumeId,jdbcType=SMALLINT},
      </if>
      <if test="record.interviewId != null" >
        interview_id = #{record.interviewId,jdbcType=SMALLINT},
      </if>
      <if test="record.humanName != null" >
        human_name = #{record.humanName,jdbcType=VARCHAR},
      </if>
      <if test="record.humanIdcard != null" >
        human_idcard = #{record.humanIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.majorKindId != null" >
        major_kind_id = #{record.majorKindId,jdbcType=CHAR},
      </if>
      <if test="record.majorKindName != null" >
        major_kind_name = #{record.majorKindName,jdbcType=CHAR},
      </if>
      <if test="record.majorId != null" >
        major_id = #{record.majorId,jdbcType=CHAR},
      </if>
      <if test="record.majorName != null" >
        major_name = #{record.majorName,jdbcType=CHAR},
      </if>
      <if test="record.testTime != null" >
        test_time = #{record.testTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useTime != null" >
        use_time = #{record.useTime,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPoint != null" >
        total_point = #{record.totalPoint,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update engage_answer
    set ans_id = #{record.ansId,jdbcType=SMALLINT},
      answer_number = #{record.answerNumber,jdbcType=VARCHAR},
      exam_number = #{record.examNumber,jdbcType=VARCHAR},
      resume_id = #{record.resumeId,jdbcType=SMALLINT},
      interview_id = #{record.interviewId,jdbcType=SMALLINT},
      human_name = #{record.humanName,jdbcType=VARCHAR},
      human_idcard = #{record.humanIdcard,jdbcType=VARCHAR},
      major_kind_id = #{record.majorKindId,jdbcType=CHAR},
      major_kind_name = #{record.majorKindName,jdbcType=CHAR},
      major_id = #{record.majorId,jdbcType=CHAR},
      major_name = #{record.majorName,jdbcType=CHAR},
      test_time = #{record.testTime,jdbcType=TIMESTAMP},
      use_time = #{record.useTime,jdbcType=VARCHAR},
      total_point = #{record.totalPoint,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java158.hr.entity.EngageAnswer" >
    update engage_answer
    <set >
      <if test="answerNumber != null" >
        answer_number = #{answerNumber,jdbcType=VARCHAR},
      </if>
      <if test="examNumber != null" >
        exam_number = #{examNumber,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        resume_id = #{resumeId,jdbcType=SMALLINT},
      </if>
      <if test="interviewId != null" >
        interview_id = #{interviewId,jdbcType=SMALLINT},
      </if>
      <if test="humanName != null" >
        human_name = #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="humanIdcard != null" >
        human_idcard = #{humanIdcard,jdbcType=VARCHAR},
      </if>
      <if test="majorKindId != null" >
        major_kind_id = #{majorKindId,jdbcType=CHAR},
      </if>
      <if test="majorKindName != null" >
        major_kind_name = #{majorKindName,jdbcType=CHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=CHAR},
      </if>
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=CHAR},
      </if>
      <if test="testTime != null" >
        test_time = #{testTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null" >
        total_point = #{totalPoint,jdbcType=DOUBLE},
      </if>
    </set>
    where ans_id = #{ansId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java158.hr.entity.EngageAnswer" >
    update engage_answer
    set answer_number = #{answerNumber,jdbcType=VARCHAR},
      exam_number = #{examNumber,jdbcType=VARCHAR},
      resume_id = #{resumeId,jdbcType=SMALLINT},
      interview_id = #{interviewId,jdbcType=SMALLINT},
      human_name = #{humanName,jdbcType=VARCHAR},
      human_idcard = #{humanIdcard,jdbcType=VARCHAR},
      major_kind_id = #{majorKindId,jdbcType=CHAR},
      major_kind_name = #{majorKindName,jdbcType=CHAR},
      major_id = #{majorId,jdbcType=CHAR},
      major_name = #{majorName,jdbcType=CHAR},
      test_time = #{testTime,jdbcType=TIMESTAMP},
      use_time = #{useTime,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=DOUBLE}
    where ans_id = #{ansId,jdbcType=SMALLINT}
  </update>
</mapper>