<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java158.hrclient.mapper.EngageMajorReleaseMapper" >
  <resultMap id="BaseResultMap" type="com.java158.hr.entity.EngageMajorRelease" >
    <id column="mre_id" property="mreId" jdbcType="SMALLINT" />
    <result column="first_kind_id" property="firstKindId" jdbcType="CHAR" />
    <result column="first_kind_name" property="firstKindName" jdbcType="VARCHAR" />
    <result column="second_kind_id" property="secondKindId" jdbcType="CHAR" />
    <result column="second_kind_name" property="secondKindName" jdbcType="VARCHAR" />
    <result column="third_kind_id" property="thirdKindId" jdbcType="CHAR" />
    <result column="third_kind_name" property="thirdKindName" jdbcType="VARCHAR" />
    <result column="major_kind_id" property="majorKindId" jdbcType="CHAR" />
    <result column="major_kind_name" property="majorKindName" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="CHAR" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="human_amount" property="humanAmount" jdbcType="SMALLINT" />
    <result column="engage_type" property="engageType" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="register" property="register" jdbcType="VARCHAR" />
    <result column="changer" property="changer" jdbcType="VARCHAR" />
    <result column="regist_time" property="registTime" jdbcType="TIMESTAMP" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.java158.hr.entity.EngageMajorReleaseWithBLOBs" extends="BaseResultMap" >
    <result column="major_describe" property="majorDescribe" jdbcType="LONGVARCHAR" />
    <result column="engage_required" property="engageRequired" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mre_id, first_kind_id, first_kind_name, second_kind_id, second_kind_name, third_kind_id, 
    third_kind_name, major_kind_id, major_kind_name, major_id, major_name, human_amount, 
    engage_type, deadline, register, changer, regist_time, change_time
  </sql>
  <sql id="Blob_Column_List" >
    major_describe, engage_required
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.java158.hr.entity.EngageMajorReleaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from engage_major_release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java158.hr.entity.EngageMajorReleaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from engage_major_release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from engage_major_release
    where mre_id = #{mreId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from engage_major_release
    where mre_id = #{mreId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.java158.hr.entity.EngageMajorReleaseExample" >
    delete from engage_major_release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java158.hr.entity.EngageMajorReleaseWithBLOBs" >
    insert into engage_major_release (mre_id, first_kind_id, first_kind_name, 
      second_kind_id, second_kind_name, third_kind_id, 
      third_kind_name, major_kind_id, major_kind_name, 
      major_id, major_name, human_amount, 
      engage_type, deadline, register, 
      changer, regist_time, change_time, 
      major_describe, engage_required)
    values (#{mreId,jdbcType=SMALLINT}, #{firstKindId,jdbcType=CHAR}, #{firstKindName,jdbcType=VARCHAR}, 
      #{secondKindId,jdbcType=CHAR}, #{secondKindName,jdbcType=VARCHAR}, #{thirdKindId,jdbcType=CHAR}, 
      #{thirdKindName,jdbcType=VARCHAR}, #{majorKindId,jdbcType=CHAR}, #{majorKindName,jdbcType=VARCHAR}, 
      #{majorId,jdbcType=CHAR}, #{majorName,jdbcType=VARCHAR}, #{humanAmount,jdbcType=SMALLINT}, 
      #{engageType,jdbcType=VARCHAR}, #{deadline,jdbcType=TIMESTAMP}, #{register,jdbcType=VARCHAR}, 
      #{changer,jdbcType=VARCHAR}, #{registTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{majorDescribe,jdbcType=LONGVARCHAR}, #{engageRequired,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.java158.hr.entity.EngageMajorReleaseWithBLOBs" >
    insert into engage_major_release
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mreId != null" >
        mre_id,
      </if>
      <if test="firstKindId != null" >
        first_kind_id,
      </if>
      <if test="firstKindName != null" >
        first_kind_name,
      </if>
      <if test="secondKindId != null" >
        second_kind_id,
      </if>
      <if test="secondKindName != null" >
        second_kind_name,
      </if>
      <if test="thirdKindId != null" >
        third_kind_id,
      </if>
      <if test="thirdKindName != null" >
        third_kind_name,
      </if>
      <if test="majorKindId != null" >
        major_kind_id,
      </if>
      <if test="majorKindName != null" >
        major_kind_name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="humanAmount != null" >
        human_amount,
      </if>
      <if test="engageType != null" >
        engage_type,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="register != null" >
        register,
      </if>
      <if test="changer != null" >
        changer,
      </if>
      <if test="registTime != null" >
        regist_time,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="majorDescribe != null" >
        major_describe,
      </if>
      <if test="engageRequired != null" >
        engage_required,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mreId != null" >
        #{mreId,jdbcType=SMALLINT},
      </if>
      <if test="firstKindId != null" >
        #{firstKindId,jdbcType=CHAR},
      </if>
      <if test="firstKindName != null" >
        #{firstKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondKindId != null" >
        #{secondKindId,jdbcType=CHAR},
      </if>
      <if test="secondKindName != null" >
        #{secondKindName,jdbcType=VARCHAR},
      </if>
      <if test="thirdKindId != null" >
        #{thirdKindId,jdbcType=CHAR},
      </if>
      <if test="thirdKindName != null" >
        #{thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorKindId != null" >
        #{majorKindId,jdbcType=CHAR},
      </if>
      <if test="majorKindName != null" >
        #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=CHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanAmount != null" >
        #{humanAmount,jdbcType=SMALLINT},
      </if>
      <if test="engageType != null" >
        #{engageType,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="register != null" >
        #{register,jdbcType=VARCHAR},
      </if>
      <if test="changer != null" >
        #{changer,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="majorDescribe != null" >
        #{majorDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="engageRequired != null" >
        #{engageRequired,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java158.hr.entity.EngageMajorReleaseExample" resultType="java.lang.Integer" >
    select count(*) from engage_major_release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update engage_major_release
    <set >
      <if test="record.mreId != null" >
        mre_id = #{record.mreId,jdbcType=SMALLINT},
      </if>
      <if test="record.firstKindId != null" >
        first_kind_id = #{record.firstKindId,jdbcType=CHAR},
      </if>
      <if test="record.firstKindName != null" >
        first_kind_name = #{record.firstKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.secondKindId != null" >
        second_kind_id = #{record.secondKindId,jdbcType=CHAR},
      </if>
      <if test="record.secondKindName != null" >
        second_kind_name = #{record.secondKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdKindId != null" >
        third_kind_id = #{record.thirdKindId,jdbcType=CHAR},
      </if>
      <if test="record.thirdKindName != null" >
        third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorKindId != null" >
        major_kind_id = #{record.majorKindId,jdbcType=CHAR},
      </if>
      <if test="record.majorKindName != null" >
        major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null" >
        major_id = #{record.majorId,jdbcType=CHAR},
      </if>
      <if test="record.majorName != null" >
        major_name = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.humanAmount != null" >
        human_amount = #{record.humanAmount,jdbcType=SMALLINT},
      </if>
      <if test="record.engageType != null" >
        engage_type = #{record.engageType,jdbcType=VARCHAR},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.register != null" >
        register = #{record.register,jdbcType=VARCHAR},
      </if>
      <if test="record.changer != null" >
        changer = #{record.changer,jdbcType=VARCHAR},
      </if>
      <if test="record.registTime != null" >
        regist_time = #{record.registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeTime != null" >
        change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.majorDescribe != null" >
        major_describe = #{record.majorDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.engageRequired != null" >
        engage_required = #{record.engageRequired,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update engage_major_release
    set mre_id = #{record.mreId,jdbcType=SMALLINT},
      first_kind_id = #{record.firstKindId,jdbcType=CHAR},
      first_kind_name = #{record.firstKindName,jdbcType=VARCHAR},
      second_kind_id = #{record.secondKindId,jdbcType=CHAR},
      second_kind_name = #{record.secondKindName,jdbcType=VARCHAR},
      third_kind_id = #{record.thirdKindId,jdbcType=CHAR},
      third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
      major_kind_id = #{record.majorKindId,jdbcType=CHAR},
      major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=CHAR},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      human_amount = #{record.humanAmount,jdbcType=SMALLINT},
      engage_type = #{record.engageType,jdbcType=VARCHAR},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      register = #{record.register,jdbcType=VARCHAR},
      changer = #{record.changer,jdbcType=VARCHAR},
      regist_time = #{record.registTime,jdbcType=TIMESTAMP},
      change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      major_describe = #{record.majorDescribe,jdbcType=LONGVARCHAR},
      engage_required = #{record.engageRequired,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update engage_major_release
    set mre_id = #{record.mreId,jdbcType=SMALLINT},
      first_kind_id = #{record.firstKindId,jdbcType=CHAR},
      first_kind_name = #{record.firstKindName,jdbcType=VARCHAR},
      second_kind_id = #{record.secondKindId,jdbcType=CHAR},
      second_kind_name = #{record.secondKindName,jdbcType=VARCHAR},
      third_kind_id = #{record.thirdKindId,jdbcType=CHAR},
      third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
      major_kind_id = #{record.majorKindId,jdbcType=CHAR},
      major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=CHAR},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      human_amount = #{record.humanAmount,jdbcType=SMALLINT},
      engage_type = #{record.engageType,jdbcType=VARCHAR},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      register = #{record.register,jdbcType=VARCHAR},
      changer = #{record.changer,jdbcType=VARCHAR},
      regist_time = #{record.registTime,jdbcType=TIMESTAMP},
      change_time = #{record.changeTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java158.hr.entity.EngageMajorReleaseWithBLOBs" >
    update engage_major_release
    <set >
      <if test="firstKindId != null" >
        first_kind_id = #{firstKindId,jdbcType=CHAR},
      </if>
      <if test="firstKindName != null" >
        first_kind_name = #{firstKindName,jdbcType=VARCHAR},
      </if>
      <if test="secondKindId != null" >
        second_kind_id = #{secondKindId,jdbcType=CHAR},
      </if>
      <if test="secondKindName != null" >
        second_kind_name = #{secondKindName,jdbcType=VARCHAR},
      </if>
      <if test="thirdKindId != null" >
        third_kind_id = #{thirdKindId,jdbcType=CHAR},
      </if>
      <if test="thirdKindName != null" >
        third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorKindId != null" >
        major_kind_id = #{majorKindId,jdbcType=CHAR},
      </if>
      <if test="majorKindName != null" >
        major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=CHAR},
      </if>
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanAmount != null" >
        human_amount = #{humanAmount,jdbcType=SMALLINT},
      </if>
      <if test="engageType != null" >
        engage_type = #{engageType,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="register != null" >
        register = #{register,jdbcType=VARCHAR},
      </if>
      <if test="changer != null" >
        changer = #{changer,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="majorDescribe != null" >
        major_describe = #{majorDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="engageRequired != null" >
        engage_required = #{engageRequired,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mre_id = #{mreId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.java158.hr.entity.EngageMajorReleaseWithBLOBs" >
    update engage_major_release
    set first_kind_id = #{firstKindId,jdbcType=CHAR},
      first_kind_name = #{firstKindName,jdbcType=VARCHAR},
      second_kind_id = #{secondKindId,jdbcType=CHAR},
      second_kind_name = #{secondKindName,jdbcType=VARCHAR},
      third_kind_id = #{thirdKindId,jdbcType=CHAR},
      third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
      major_kind_id = #{majorKindId,jdbcType=CHAR},
      major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=CHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      human_amount = #{humanAmount,jdbcType=SMALLINT},
      engage_type = #{engageType,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      register = #{register,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      major_describe = #{majorDescribe,jdbcType=LONGVARCHAR},
      engage_required = #{engageRequired,jdbcType=LONGVARCHAR}
    where mre_id = #{mreId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java158.hr.entity.EngageMajorRelease" >
    update engage_major_release
    set first_kind_id = #{firstKindId,jdbcType=CHAR},
      first_kind_name = #{firstKindName,jdbcType=VARCHAR},
      second_kind_id = #{secondKindId,jdbcType=CHAR},
      second_kind_name = #{secondKindName,jdbcType=VARCHAR},
      third_kind_id = #{thirdKindId,jdbcType=CHAR},
      third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
      major_kind_id = #{majorKindId,jdbcType=CHAR},
      major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=CHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      human_amount = #{humanAmount,jdbcType=SMALLINT},
      engage_type = #{engageType,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      register = #{register,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP}
    where mre_id = #{mreId,jdbcType=SMALLINT}
  </update>
</mapper>