<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java158.hrclient.mapper.PRoleTableMapper" >
  <resultMap id="BaseResultMap" type="com.java158.hr.entity.PRoleTable" >
    <id column="pr_id" property="prId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="ment_id" property="mentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pr_id, role_id, ment_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java158.hr.entity.PRoleTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_role_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_role_table
    where pr_id = #{prId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_role_table
    where pr_id = #{prId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.java158.hr.entity.PRoleTableExample" >
    delete from p_role_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java158.hr.entity.PRoleTable" >
    insert into p_role_table (pr_id, role_id, ment_id
      )
    values (#{prId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{mentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java158.hr.entity.PRoleTable" >
    insert into p_role_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        pr_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="mentId != null" >
        ment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        #{prId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="mentId != null" >
        #{mentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java158.hr.entity.PRoleTableExample" resultType="java.lang.Integer" >
    select count(*) from p_role_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p_role_table
    <set >
      <if test="record.prId != null" >
        pr_id = #{record.prId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.mentId != null" >
        ment_id = #{record.mentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p_role_table
    set pr_id = #{record.prId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      ment_id = #{record.mentId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java158.hr.entity.PRoleTable" >
    update p_role_table
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="mentId != null" >
        ment_id = #{mentId,jdbcType=INTEGER},
      </if>
    </set>
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java158.hr.entity.PRoleTable" >
    update p_role_table
    set role_id = #{roleId,jdbcType=INTEGER},
      ment_id = #{mentId,jdbcType=INTEGER}
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
</mapper>