<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java158.hrclient.mapper.SalaryStandardDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.java158.hr.entity.SalaryStandardDetails" >
    <id column="sdt_id" property="sdtId" jdbcType="SMALLINT" />
    <result column="standard_id" property="standardId" jdbcType="VARCHAR" />
    <result column="standard_name" property="standardName" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="SMALLINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sdt_id, standard_id, standard_name, item_id, item_name, salary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java158.hr.entity.SalaryStandardDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from salary_standard_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from salary_standard_details
    where sdt_id = #{sdtId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from salary_standard_details
    where sdt_id = #{sdtId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.java158.hr.entity.SalaryStandardDetailsExample" >
    delete from salary_standard_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java158.hr.entity.SalaryStandardDetails" >
    insert into salary_standard_details (sdt_id, standard_id, standard_name, 
      item_id, item_name, salary
      )
    values (#{sdtId,jdbcType=SMALLINT}, #{standardId,jdbcType=VARCHAR}, #{standardName,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=SMALLINT}, #{itemName,jdbcType=VARCHAR}, #{salary,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java158.hr.entity.SalaryStandardDetails" >
    insert into salary_standard_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sdtId != null" >
        sdt_id,
      </if>
      <if test="standardId != null" >
        standard_id,
      </if>
      <if test="standardName != null" >
        standard_name,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="salary != null" >
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sdtId != null" >
        #{sdtId,jdbcType=SMALLINT},
      </if>
      <if test="standardId != null" >
        #{standardId,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null" >
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=SMALLINT},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java158.hr.entity.SalaryStandardDetailsExample" resultType="java.lang.Integer" >
    select count(*) from salary_standard_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update salary_standard_details
    <set >
      <if test="record.sdtId != null" >
        sdt_id = #{record.sdtId,jdbcType=SMALLINT},
      </if>
      <if test="record.standardId != null" >
        standard_id = #{record.standardId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardName != null" >
        standard_name = #{record.standardName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=SMALLINT},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update salary_standard_details
    set sdt_id = #{record.sdtId,jdbcType=SMALLINT},
      standard_id = #{record.standardId,jdbcType=VARCHAR},
      standard_name = #{record.standardName,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=SMALLINT},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java158.hr.entity.SalaryStandardDetails" >
    update salary_standard_details
    <set >
      <if test="standardId != null" >
        standard_id = #{standardId,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null" >
        standard_name = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=SMALLINT},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=DOUBLE},
      </if>
    </set>
    where sdt_id = #{sdtId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java158.hr.entity.SalaryStandardDetails" >
    update salary_standard_details
    set standard_id = #{standardId,jdbcType=VARCHAR},
      standard_name = #{standardName,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=SMALLINT},
      item_name = #{itemName,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DOUBLE}
    where sdt_id = #{sdtId,jdbcType=SMALLINT}
  </update>
</mapper>