<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java158.hrclient.mapper.SalaryGrantDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.java158.hr.entity.SalaryGrantDetails" >
    <id column="grd_id" property="grdId" jdbcType="SMALLINT" />
    <result column="salary_grant_id" property="salaryGrantId" jdbcType="VARCHAR" />
    <result column="human_id" property="humanId" jdbcType="VARCHAR" />
    <result column="human_name" property="humanName" jdbcType="VARCHAR" />
    <result column="bouns_sum" property="bounsSum" jdbcType="DOUBLE" />
    <result column="sale_sum" property="saleSum" jdbcType="DOUBLE" />
    <result column="deduct_sum" property="deductSum" jdbcType="DOUBLE" />
    <result column="salary_standard_sumx" property="salaryStandardSumx" jdbcType="DOUBLE" />
    <result column="salary_paid_sumx" property="salaryPaidSumx" jdbcType="DOUBLE" />
    <result column="standard_id" property="standardId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    grd_id, salary_grant_id, human_id, human_name, bouns_sum, sale_sum, deduct_sum, salary_standard_sumx, 
    salary_paid_sumx, standard_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.java158.hr.entity.SalaryGrantDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from salary_grant_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from salary_grant_details
    where grd_id = #{grdId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from salary_grant_details
    where grd_id = #{grdId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.java158.hr.entity.SalaryGrantDetailsExample" >
    delete from salary_grant_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.java158.hr.entity.SalaryGrantDetails" >
    insert into salary_grant_details (grd_id, salary_grant_id, human_id, 
      human_name, bouns_sum, sale_sum, 
      deduct_sum, salary_standard_sumx, salary_paid_sumx, 
      standard_id)
    values (#{grdId,jdbcType=SMALLINT}, #{salaryGrantId,jdbcType=VARCHAR}, #{humanId,jdbcType=VARCHAR}, 
      #{humanName,jdbcType=VARCHAR}, #{bounsSum,jdbcType=DOUBLE}, #{saleSum,jdbcType=DOUBLE}, 
      #{deductSum,jdbcType=DOUBLE}, #{salaryStandardSumx,jdbcType=DOUBLE}, #{salaryPaidSumx,jdbcType=DOUBLE}, 
      #{standardId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.java158.hr.entity.SalaryGrantDetails" >
    insert into salary_grant_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="grdId != null" >
        grd_id,
      </if>
      <if test="salaryGrantId != null" >
        salary_grant_id,
      </if>
      <if test="humanId != null" >
        human_id,
      </if>
      <if test="humanName != null" >
        human_name,
      </if>
      <if test="bounsSum != null" >
        bouns_sum,
      </if>
      <if test="saleSum != null" >
        sale_sum,
      </if>
      <if test="deductSum != null" >
        deduct_sum,
      </if>
      <if test="salaryStandardSumx != null" >
        salary_standard_sumx,
      </if>
      <if test="salaryPaidSumx != null" >
        salary_paid_sumx,
      </if>
      <if test="standardId != null" >
        standard_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="grdId != null" >
        #{grdId,jdbcType=SMALLINT},
      </if>
      <if test="salaryGrantId != null" >
        #{salaryGrantId,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        #{humanId,jdbcType=VARCHAR},
      </if>
      <if test="humanName != null" >
        #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="bounsSum != null" >
        #{bounsSum,jdbcType=DOUBLE},
      </if>
      <if test="saleSum != null" >
        #{saleSum,jdbcType=DOUBLE},
      </if>
      <if test="deductSum != null" >
        #{deductSum,jdbcType=DOUBLE},
      </if>
      <if test="salaryStandardSumx != null" >
        #{salaryStandardSumx,jdbcType=DOUBLE},
      </if>
      <if test="salaryPaidSumx != null" >
        #{salaryPaidSumx,jdbcType=DOUBLE},
      </if>
      <if test="standardId != null" >
        #{standardId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.java158.hr.entity.SalaryGrantDetailsExample" resultType="java.lang.Integer" >
    select count(*) from salary_grant_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update salary_grant_details
    <set >
      <if test="record.grdId != null" >
        grd_id = #{record.grdId,jdbcType=SMALLINT},
      </if>
      <if test="record.salaryGrantId != null" >
        salary_grant_id = #{record.salaryGrantId,jdbcType=VARCHAR},
      </if>
      <if test="record.humanId != null" >
        human_id = #{record.humanId,jdbcType=VARCHAR},
      </if>
      <if test="record.humanName != null" >
        human_name = #{record.humanName,jdbcType=VARCHAR},
      </if>
      <if test="record.bounsSum != null" >
        bouns_sum = #{record.bounsSum,jdbcType=DOUBLE},
      </if>
      <if test="record.saleSum != null" >
        sale_sum = #{record.saleSum,jdbcType=DOUBLE},
      </if>
      <if test="record.deductSum != null" >
        deduct_sum = #{record.deductSum,jdbcType=DOUBLE},
      </if>
      <if test="record.salaryStandardSumx != null" >
        salary_standard_sumx = #{record.salaryStandardSumx,jdbcType=DOUBLE},
      </if>
      <if test="record.salaryPaidSumx != null" >
        salary_paid_sumx = #{record.salaryPaidSumx,jdbcType=DOUBLE},
      </if>
      <if test="record.standardId != null" >
        standard_id = #{record.standardId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update salary_grant_details
    set grd_id = #{record.grdId,jdbcType=SMALLINT},
      salary_grant_id = #{record.salaryGrantId,jdbcType=VARCHAR},
      human_id = #{record.humanId,jdbcType=VARCHAR},
      human_name = #{record.humanName,jdbcType=VARCHAR},
      bouns_sum = #{record.bounsSum,jdbcType=DOUBLE},
      sale_sum = #{record.saleSum,jdbcType=DOUBLE},
      deduct_sum = #{record.deductSum,jdbcType=DOUBLE},
      salary_standard_sumx = #{record.salaryStandardSumx,jdbcType=DOUBLE},
      salary_paid_sumx = #{record.salaryPaidSumx,jdbcType=DOUBLE},
      standard_id = #{record.standardId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.java158.hr.entity.SalaryGrantDetails" >
    update salary_grant_details
    <set >
      <if test="salaryGrantId != null" >
        salary_grant_id = #{salaryGrantId,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        human_id = #{humanId,jdbcType=VARCHAR},
      </if>
      <if test="humanName != null" >
        human_name = #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="bounsSum != null" >
        bouns_sum = #{bounsSum,jdbcType=DOUBLE},
      </if>
      <if test="saleSum != null" >
        sale_sum = #{saleSum,jdbcType=DOUBLE},
      </if>
      <if test="deductSum != null" >
        deduct_sum = #{deductSum,jdbcType=DOUBLE},
      </if>
      <if test="salaryStandardSumx != null" >
        salary_standard_sumx = #{salaryStandardSumx,jdbcType=DOUBLE},
      </if>
      <if test="salaryPaidSumx != null" >
        salary_paid_sumx = #{salaryPaidSumx,jdbcType=DOUBLE},
      </if>
      <if test="standardId != null" >
        standard_id = #{standardId,jdbcType=VARCHAR},
      </if>
    </set>
    where grd_id = #{grdId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java158.hr.entity.SalaryGrantDetails" >
    update salary_grant_details
    set salary_grant_id = #{salaryGrantId,jdbcType=VARCHAR},
      human_id = #{humanId,jdbcType=VARCHAR},
      human_name = #{humanName,jdbcType=VARCHAR},
      bouns_sum = #{bounsSum,jdbcType=DOUBLE},
      sale_sum = #{saleSum,jdbcType=DOUBLE},
      deduct_sum = #{deductSum,jdbcType=DOUBLE},
      salary_standard_sumx = #{salaryStandardSumx,jdbcType=DOUBLE},
      salary_paid_sumx = #{salaryPaidSumx,jdbcType=DOUBLE},
      standard_id = #{standardId,jdbcType=VARCHAR}
    where grd_id = #{grdId,jdbcType=SMALLINT}
  </update>
</mapper>